.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 3rem;
}

.navbar h1 {
	margin: 0;
}

.navbar ul {
	display: flex;
	gap: 1rem;
	margin: 0;
}

.navbar li {
	padding: 8px 16px;
	border: 2px solid #646cff;
	border-radius: 4px;
}

.navbar li:hover {
	background-color: #646cff;
	border-color: #fff;
	cursor: pointer;
}

.navbar li:hover a {
	color: #fff;
	text-decoration: none;
}
